* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceff1;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100vw;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87); */
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body>div {
  width: 70%;
  align-self: center;

  @media (max-width: 1400px) {
    width: 98%;
  }
}

button {
  border-radius: 8px;
  border: none;
  padding: 16px;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.25s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button:hover {
  background-color: rgb(192, 192, 192);
}

button:disabled {
  cursor: not-allowed;
}

input {
  border-radius: 8px;
  border: 1px solid rgb(192, 192, 192);
  padding: 16px;
  font-family: inherit;
  /* width: calc(100% - 32px); */
}

select {
  border-radius: 8px;
  border: 1px solid rgb(192, 192, 192);
  padding: 15px;
  font-family: inherit;
  flex: 1;
  width: 100%;
  /* width: calc(100% - 32px); */
}


section {
  width: 100%;
  flex-grow: 1;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d0bc9e;
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  transition: border-radius .1s ease-in;
  color: #000000be
  /* transition-delay: 0s; */
}

section .section-header.collapsed {
  transition: border-radius .2s ease;
  transition-delay: .8s;
  border-radius: 8px;
}


section .section-content {
  overflow: hidden;
  transition: max-height 1s ease;
}

section .section-body {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

section .section-body>div {
  flex: 1;
  padding: 8px;
}

.nadplata {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e0e0e0;
  gap: 8px;
}


.nadplata>div {
  align-self: flex-end;
  flex: 1;
  min-width: 0;
}


/* table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  /* add padding to rows */
  /* padding: 10em; */
}

th {
  padding: 0.35rem;
  text-align: right;
  color: #999999;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #eceff1;
}

td {
  padding: 0.35rem;
  text-align: right;
}

tr {
  transition: background-color 0.25s;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover {
  background-color: #efefef;
}

.phone-rotation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #eceff1;
  overflow: hidden;
  margin: 0;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid #d0bc9e;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
  /* display: none; */
}

.message {
  color: #827664;
  font-size: 1.3em;
  margin-top: 40px;
  /* display: none; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(-90deg)
  }

  100% {
    transform: rotate(-90deg)
  }
}

@media only screen and (max-device-width: 812px) {

  .phone,
  .message {
    display: block;
  }

  /* small font size on small device */
  body {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
  }

  button,
  input {
    padding: 8px;
  }

  select {
    padding: 7px;
  }

  body {
    justify-content: none;
  }

  section {
    width: 100%;
  }

  section>.section-header {
    padding: 4px 8px;
  }

  th {
    padding: 0.25rem;
  }

  td {
    padding: 0.25rem;
  }

  tr {
    padding: 0.5em;
  }

}

.collapse path:first-child {
  transform: translateY(770px) translateX(-770px);
}

.collapse path:nth-child(2) {
  transform: translateY(-770px) translateX(770px);
}

.collapse.expand path:first-child {
  transform: translateY(0px) translateX(0px);
}

.collapse.expand path:nth-child(2) {
  transform: translateY(0px) translateX(0px);
}


svg path:first-child,
svg path:nth-child(2) {
  -webkit-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}
